#dfPessoas {

    font: 14px Verdana, arial, helvetica, sans-serif;
    margin-left: 35%;
    margin-top: 150px;

}

#dtPessoas {

    font: 14px Verdana, arial, helvetica, sans-ser;
    margin-left: 25%;

}

